@import 'variables.scss';
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Dimkin';
}

.light-theme * {
    background: $white;
    color: $black;
    transition: 0.3s, width 0s;
}

.dark-theme * {
    background: $black;
    color: $white;
    transition: 0.3s, width 0s;
}

h1 {
    font-size: 36px;
    font-family: 'Cunia';
    text-align: center;
}

h2 {
    font-size: 32px;
    font-family: 'Cunia';
    text-align: center;
}

a {
    text-decoration: none;
}

button, .button {
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    font-size: 24px;
}

[type="text"], [type="number"] {
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
}

.container {
    width: 930px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
}

.menu {
    padding: 20px 0;
    box-shadow: 15px 15px 30px $dwhite;
    position: relative;
    z-index: 1;
    &_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            background: none;
            filter: drop-shadow(-5px -5px 5px $lwhite) drop-shadow(5px 5px 5px $dwhite) ;
        }
        &_logo svg {
            background: none;
        }
        &_buttons {
            display: flex;
            gap: 30px;
            &_btn {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 15px;
                border-radius: 50px;
                box-shadow: 5px 5px 5px $dwhite, -5px -5px 5px $lwhite;
                &_txt {
                    font-weight: 700;
                    font-size: 24px;
                    text-transform: uppercase;
                    transform: translateY(2px);
                }
            }
        }
    }
}

.main {
    padding: 80px 0;
    min-height: calc(100vh - 341px);
    &_block {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &_generator {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;
            box-shadow: 15px 15px 30px $dwhite, -15px -15px 30px $lwhite;
            border-radius: 30px;
            &_elements {
                display: flex;
                gap: 60px;
                flex-wrap: wrap;
                &_box {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    &_item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        &_input {
                            box-shadow: inset 5px 5px 5px $dwhite, inset -5px -5px 5px $lwhite;
                            width: 390px;
                        }
                        &_inputs {
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            &_num {
                                box-shadow: inset 5px 5px 5px $dwhite, inset -5px -5px 5px $lwhite;
                                width: 34px;
                                padding: 15px 15px 15px 30px;
                                text-align: center;
                            }
                            &_range {
                                position: relative;
                                &_input {
                                    -webkit-appearance: none;
                                    background: none;
                                    border-radius: 5px;
                                    position: relative;
                                    z-index: 1;
                                    width: 250px;
                                    height: 8px;
                                    border-radius: 5px;
                                }
                                &_input::before {
                                    content: '';
                                    box-shadow: inset 2px 2px 2px $dwhite, inset -2px -2px 2px $lwhite;
                                    width: 250px;
                                    height: 8px;
                                    display: block;
                                    position: absolute;
                                    z-index: -1;
                                    border-radius: 5px;
                                }
                                &_input::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    height: 25px;
                                    width: 25px;
                                    border-radius: 50%;
                                    background: $blue;
                                    cursor: ew-resize;
                                    transition: 0.3s;
                                }
                                &_input::-webkit-slider-thumb:hover {
                                    box-shadow: 0 0 25px $blue;
                                    transition: 0.3s;
                                }
                                &_input::-webkit-slider-runnable-track  {
                                    -webkit-appearance: none;
                                }
                                &_line {
                                    background: $blue;
                                    width: 125px;
                                    height: 8px;
                                    display: block;
                                    position: absolute;
                                    z-index: 1;
                                    border-radius: 5px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                    &_list {
                        display: flex;
                        flex-wrap: wrap;
                        width: 220px;
                        gap: 10px 30px;
                        &_item {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            &_check {
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                            }
                            &_txt {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                            }
                            &_check+label::before {
                                content: '';
                                width: 30px;
                                height: 30px;
                                box-shadow: inset 3px 3px 3px $dwhite, inset -3px -3px 3px $lwhite;
                                border-radius: 5px;
                                transition: 0.3s;
                            }
                            &_check:checked+label::before {
                                background: $blue;
                                box-shadow: 3px 3px 3px $dwhite, -3px -3px 3px $lwhite;
                                background-image: url(images/Checked.svg);
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: 50% 50%;
                            }
                            &_check:not(:checked):hover+label::before {
                                background: $blue;
                                box-shadow: none;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
            &_btn {
                padding: 15px 30px;
                width: 100%;
                background: $blue;
                color: $white;
                font-family: 'Cunia';
                border-radius: 15px;
                box-shadow: 5px 5px 5px $dwhite, -5px -5px 5px $lwhite;
                transition: 0.3s;
            }
            &_btn:hover {
                background: $white;
                color: $blue;
                transition: 0.3s;
                box-shadow: inset 5px 5px 5px $dwhite, inset -5px -5px 5px $lwhite;
            }
        }
        &_passwords {
            display: flex;
            flex-direction: column;
            gap: 30px;
            &_list {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                list-style: none;
                width: 100%;
                &_item {
                    padding: 30px;
                    box-shadow: 15px 15px 30px $dwhite, -15px -15px 30px $lwhite;
                    border-radius: 20px;
                    width: 230px;
                    font-size: 24px;
                    color: $blue;
                    text-align: center;
                    word-wrap: break-word;
                    opacity: 0;
                }
            }
        }
    }
}

.animated_item {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.footer {
    box-shadow: -15px -15px 30px $lwhite;
    text-align: center;
    padding: 30px 0;
    &_block {
        &_copyright {
            font-size: 24px;
        }
    }
}



/*  Dark Theme  */
.dark-theme .menu {
    box-shadow: 15px 15px 30px $dblack;
    &_block {
        &_logo {
            filter: drop-shadow(-5px -5px 5px $lblack) drop-shadow(5px 5px 5px $dblack) ;
        }
        &_logo {
            &_img path{
                fill: $lblue;
            }
        }
        &_buttons {
            &_btn {
                box-shadow: 5px 5px 5px $dblack, -5px -5px 5px $lblack;
                &_img circle {
                    stroke: $white;
                }
            }
        }
    }
}

.dark-theme .main {
    &_block {
        &_generator {
            box-shadow: 15px 15px 30px $dblack, -15px -15px 30px $lblack;
            &_elements {
                &_box {
                    &_item {
                        &_input {
                            box-shadow: inset 5px 5px 5px $dblack, inset -5px -5px 5px $lblack;
                        }
                        &_inputs {
                            &_num {
                                box-shadow: inset 5px 5px 5px $dblack, inset -5px -5px 5px $lblack;
                            }
                            &_range {
                                &_input::before {
                                    box-shadow: inset 2px 2px 2px $dblack, inset -2px -2px 2px $lblack;
                                }
                                &_input::-webkit-slider-thumb {
                                    background: $lblue;
                                }
                                &_input::-webkit-slider-thumb:hover {
                                    box-shadow: 0 0 25px $lblue;
                                }
                                &_line {
                                    background: $lblue;
                                }
                            }
                        }
                    }
                    &_list {
                        &_item {
                            &_check+label::before {
                                box-shadow: inset 3px 3px 3px $dblack, inset -3px -3px 3px $lblack;
                            }
                            &_check:checked+label::before {
                                background: $lblue;
                                box-shadow: 3px 3px 3px $dblack, -3px -3px 3px $lblack;
                                background-image: url(images/Checked.svg);
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: 50% 50%;
                            }
                            &_check:not(:checked):hover+label::before {
                                background: $lblue;
                            }
                        }
                    }
                }
            }
            &_btn {
                background: $lblue;
                color: $black;
                box-shadow: 5px 5px 5px $dblack, -5px -5px 5px $lblack;
            }
            &_btn:hover {
                background: $black;
                color: $lblue;
                box-shadow: inset 5px 5px 5px $dblack, inset -5px -5px 5px $lblack;
            }
        }
        &_passwords {
            &_list {
                &_item {
                    box-shadow: 15px 15px 30px $dblack, -15px -15px 30px $lblack;
                    color: $lblue;
                }
            }
        }
    }
}

.dark-theme .footer {
    box-shadow: -15px -15px 30px $lblack;
}

/*  Dark Theme - END */



/*  Tablet Media  */
@media (max-width: 1024px) {
    .container {
        width: auto;
    }
    
    .main {
        &_block {
            &_generator {
                &_elements {
                    flex-wrap: wrap;
                    gap: 30px;
                    &_box {
                        width: 100%;
                        &_item {
                            &_input {
                                width: calc(100% - 60px);
                            }
                            &_inputs {
                                &_num {
                                    padding: 15px 30px 15px 30px;
                                }
                                &_range {
                                    width: 100%;
                                    &_input {
                                        width: 100%;
                                    }
                                    &_input::before {
                                        width: 100%;
                                    }
                                    &_line {
                                        width: 50%;
                                    }
                                }
                            }
                        }
                        &_list {
                            width: 100%;
                        }
                    }
                }
            }
            &_passwords {
                &_list {
                    &_item {
                        width: calc(33.33% - 80px);
                    }
                }
            }
        }
    }
}
/*  Tablet Media - END */


/*  Mobile Media  */
@media (max-width: 767px) {
    .menu {
        padding: 15px 0;
        &_block {
            &_logo {
                height: 50px;
            }
            &_logo svg {
                background: none;
                width: 100px;
            }
            &_buttons {
                &_btn {
                    &_img {
                        width: 20px;
                        height: 20px;
                    }
                    &_txt {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .main {
        padding: 60px 0;
        min-height: calc(100vh - 265px);
        &_block {
            &_passwords {
                &_list {
                    &_item {
                        width: calc(100% - 60px);
                    }
                }
            }
        }
    }

    .footer {
        padding: 20px 0;
    }
}